{% extends "base.html" %}
{% block start %}
<div class="container mt-5">

    <form class="col-6 mx-auto shadow-lg border border-4 p-4 " method="post">
        {% csrf_token %}
        <h2>Register Form </h2>
        
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
               
                {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">firstname</label>
            <input type="text" name="fname" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">lastname</label>
            <input type="text" name="lname" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" required name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <p>Already registered? <a href="/login/">Login Now</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

 
   

</div>


{% endblock  %}

       
  